<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CustomerConnectionString" connectionString="Data Source=(local);Database=Customers;User Id=admin;Password=password;" />
    <add name="OrderConnectionString" connectionString="Data Source=(local);Database=Orders;User Id=admin;Password=password;" />
  </connectionStrings>
</configuration>