<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--@"Data Source=(local);Database=Orders;User Id=admin;Password=password;"-->
    <add name="AnyCompany" connectionString="Data Source=localhost;Initial Catalog=AnyCompany;Integrated Security=True;Pooling=False" />
  </connectionStrings>
</configuration>